@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Fixes the overlap and gives it the Apple Look */
h1 {
  letter-spacing: -0.05em;
}

/* Removes scrollbar clutter but keeps functionality */
textarea::-webkit-scrollbar {
  display: none;
}